﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Sorularını Paylaş</title>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Abel|Satisfy' rel='stylesheet' type='text/css' />
    <link href="default.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/default.css" rel="stylesheet" />
</head>
<body>
    @RenderBody();
    <div id="wrapper">
        <div id="header-wrapper">
            <div id="header">
                <div id="logo">
                    <h1><a href="#">Sorularını Paylaş</a></h1>
      
                </div>
                <div id="menu">
                    <ul>
                        <li class="current_page_item"><a href="#" accesskey="1" title="">Anasayfa</a></li>   
                        <li><a href="#" accesskey="3" title="">Kategoriler</a></li>
                        <li><a href="#" accesskey="4" title="">Hakkında</a></li>
                        <li><a href="#" accesskey="5" title="">İletişim</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="banner"><img src="images/447948.jpg" width="620" height="347" alt="" /></div>
        <div id="page-wrapper">
            <div id="page">
                <div id="wide-content">
                    <div>
                        <h2>Hoşgeldiniz!</h2>
                        <p>Sorularını Paylaş sitesinde aradığınız soruları bulabileceğinizi umuyoruz.Bu sitede zorlandığınız sorularınızı sorup cevaplarını bulabilirsiniz. </p>
                        <p>Tabii ki siteden faydalanmak için üye olmanızı rica ederiz. </p>
                        <p class="button-style"><a href="#">Daha Fazla Detay</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div id="recent-news">
            <h2>Son paylaşımlar</h2>
            <div id="rbox1">
                <p class="date">Eylül 28, 2012</p>
                <p class="link"><a href="#">Arkadaşlar merhaba 1.Dünya savaşının sonuçları arasında "Avrupa ve Asya'da devletlerarası dengeler bozulmuş, Osmanlı, Avusturya-Macar imparatorluğu ve Rusya tarihe karıştı." diyeblir miyiz?</a></p>
                <p class="button-style1"><a href="#">Devamını Oku</a></p>
            </div>
            <div id="rbox2">
                <p class="date">Eylül 28, 2012</p>
                <p class="link"><a href="#">Arkadaşlar merhaba 1.Dünya savaşının sonuçları arasında "Avrupa ve Asya'da devletlerarası dengeler bozulmuş, Osmanlı, Avusturya-Macar imparatorluğu ve Rusya tarihe karıştı." diyeblir miyiz?</a></p>
                <p class="button-style1"><a href="#">Devamını Oku</a></p>
            </div>
            <div id="rbox3">
                <p class="date">Eylül 28, 2012</p>
                <p class="link"><a href="#">Arkadaşlar merhaba 1.Dünya savaşının sonuçları arasında "Avrupa ve Asya'da devletlerarası dengeler bozulmuş, Osmanlı, Avusturya-Macar imparatorluğu ve Rusya tarihe karıştı." diyeblir miyiz?</a></p>
                <p class="button-style1"><a href="#">Devamını Oku</a></p>
            </div>
            <div id="rbox4">
                <p class="date">Eylül 28, 2012</p>
                <p class="link"><a href="#">Arkadaşlar merhaba 1.Dünya savaşının sonuçları arasında "Avrupa ve Asya'da devletlerarası dengeler bozulmuş, Osmanlı, Avusturya-Macar imparatorluğu ve Rusya tarihe karıştı." diyeblir miyiz?</a></p>
                <p class="button-style1"><a href="#">Devamını Oku</a></p>
            </div>
        </div>
        <div id="footer-wrapper">
            <div id="footer-content">
                <div id="fbox1">
                    <h2>Popüler Paylaşımlar</h2>
                    <ul class="style2">
                        <li class="first"><a href="#">1.Dünya savaşı sonucu</a></li>
                        <li><a href="#">Türev alma kuralları</a></li>
                        <li><a href="#">İntegralde alan hesaplama</a></li>
                        <li><a href="#">Organik kimya </a></li>
                        <li><a href="#">Mitoz ve mayoz bölünme arasındaki farklar</a></li>
                        <li><a href="#">Yüklem ve dolaylı tümleç</a></li>
                    </ul>
                    <p class="button-style"><a href="#">Devamını Gör</a></p>
                </div>
                <div id="fbox2">
                    <h2>Günün Paylaşımı </h2>
                    <p>Bir inek, yaşamı boyunca yaklaşık 200.000 bardak süt verir.Kırkayakların vücutlarının her bölümü iki çift ayağa sahiptir.</p>
                    <p> Adları "kırkayak" olsa da, bu böceğin ayak sayısı, 8 ile 200 arasında değişir.Bir insanın vücudunda bulunan elektrik, 25 wattlık bir lambayı dakikalarca yakabilir..</p>
                    <p><img src="images/img05.jpg" width="500" height="200" alt="" /></p>
                    <p class="button-style"><a href="#">More Details</a></p>
                </div>
                <div id="fbox3">
                    <h2>İlginç Paylaşımlar</h2>
                    <ul class="style3">
                        <li class="first">
                            <img src="images/img02.jpg" width="78" height="78" alt="">
                            <p>Sekreter kusu adiyla anilan bir kus vardir dogada. Bu kusun bacaklari o kadar narin ve incedir ki kus birden bir seyden korkarsa bacaklari kirilabilir. </p>
                            <p class="posted">Ekim 28, 2002  |  (10 )  Comments</p>
                        </li>
                        <li>
                            <img src="images/img03.jpg" width="78" height="78" alt="">
                            <p>Çin, en çok komşuya sahip ülkedir; tam 15 ülke ile sınırı vardır. </p>
                            <p class="posted">Kasım 21, 2002  |  (10 )  Comments</p>
                        </li>
                        <li>
                            <img src="images/img04.jpg" width="78" height="78" alt="">
                            <p>Çok çalışan bir yetişkin insan bir günde 15 litreye yakın ter atar. Bu terin büyük kısmı insan fark etmeden buharlaşır. </p>
                            <p class="posted">Aralık 19, 2002  |  (10 )  Comments</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <p>&copy; Site hakkında merak ettikleriniz <a href="http://templated.co" rel="nofollow">Sorularını Paylaş</a>. Detaylar<a href="http://fotogrph.com/">Hakkında</a>.</p>
    </div>
</body>
</html>

